{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>

            <div class="form-group">
                {{ form.token.label(class="form-control-label") }}
                {% if form.token.errors %}
                {{ form.token(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.token.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.token(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <!-- <div class="form-check"> <!--* Remember me box 
            {{ form.remember(class="form-check-input")}}
            {{ form.remember.label(class="form-check-label")}}
        </div> -->
    </form>
</div>
{% endblock content %}
